<article class="card-post">
    <div class="container">
        <div class="row">
            {{ $paginator := .Paginate (where .Site.Pages "Type" "post" ) 1 }}
            {{ range $paginator.Pages }}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card">
                    <a href="{{ .RelPermalink }}">
                        {{ $asetplace := "css/w.png" | absURL }}
                        <img class="card-img-top"
                        src='{{ if eq .Params.Image "" }} "{{$asetplace}}" {{else}}{{ .Params.Image}}{{end}}'
                        alt='{{ .Title }}'
                        >

                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-dark" href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
{{end}}
        </div>
    </div>
</article>
<br>
<div class="container">
    {{partial "paginasi.html" . }}
</div>