<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="id" name="language">
    <meta content="id" name="geo.country">
    <meta content="Indonesia" name="geo.placename">
    <meta content="C05E41EBB96EC58CF2570487F0862E54" name="msvalidate.01">
    <meta content="b385c09a778a17a286b9dfb654b3eef7" name="p:domain_verify">
    <meta content="#29292f" name="theme-color">
    {{ $asetcss := "bootstrap/css/bootstrap.min.css" | absURL }}
    <link rel="stylesheet" href="{{ $asetcss }}"/>
    <title>{{ .Title }}</title>
</head>