<header>
<div class="jumbotron">
    <h1>Papat Hidayatulloh</h1>
</div>
<nav class="navbar navbar-expand-lg bg-dark">
    <ul class="navbae nav">
        <li class="nav-item">
            <a class="nav-link" href="/index.html">BERANDA</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kategori.html">TULISAN</a>
        </li>
          
        <li class="nav-item">
            <a class="nav-link" href="/post/">TULISAN</a>
        </li>
       
      
        
  
    </ul>
   

</nav>
</header>